<!DOCTYPE html>
<html>
	<head>
		<title>CONTACT US</title>
		<link rel="stylesheet" type="text/css" href="css/contact.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	<body>
	<div id ='sidebar'>
	<a href="index"><img id = "logo" src ="images/logo.jpg"></a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<nav id = "sidenav">
	<ul>
	<li><a href="index#About">About</a></li>
	<br>
	<br>
	<br>
	<li><a href="find">Find Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="sell">Sell Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="contact">Contact Us</a></li>
	<br>
	<br>
	<br>
	<li><a href="https://twitter.com/barealty" id="twitter-button" target="_blank"><img src="images/twitter.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://facebook.com/barealty" id="facebook-button" target="_blank"><img src="images/facebook.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://linkedin.com/barealty" id="linkedin-button" target="_blank"><img src="images/linkedin.png"></a></li>
	</ul>
	</nav>
	</div>
	<div id ="wrapper">
		
			<form class="contact_form" action="/contact" method="POST" name="contact_form">
				<ul>
			    <li>
			     <h2>Contact Us</h2>
			    </li>
			    <li>
			    <label for="name">Name:</label>
			     <input type="text" name="name" />
			    </li>

			    <li>
			    <label for="email">Email:</label>
			    <input type="email" name="email" />
				</li>

				<li>
			    <label for="tel">Tel:</label>
			    <input type="text" name="tel" />
				</li>
				<li>
				<label for="subject">Subject:</label>
				<input type="text" name="subject"/>
				</li>
				<li>
			    <label for="message">Message:</label>
			        <textarea name="message" cols="40" rows="6"></textarea>	
				</li>
				<li>
				 <button class="submit" type="submit">Submit Form</button>
				</li>
				</ul>
			</form>
		<footer>
		© 2015 B.A Realty. All rights reserved.</div>
		</footer>
	</div>

	</body>
</html>
