<!DOCTYPE html>
<html>
	<head>
		<title>Welcome To B.A. REALTY</title>
		<link rel="stylesheet" type="text/css" href="css/barealty.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	<body>
	<div id ='sidebar'>
	<a href="index"><img id = "logo" src ="images/logo.jpg"></a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<nav id = "sidenav">
	<ul>
	<li><a href="#About">About</a></li>
	<br>
	<br>
	<br>
	<li><a href="find">Find Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="sell">Sell Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="contact">Contact Us</a></li>
	<br>
	<br>
	<br>
	<li><a href="https://twitter.com/barealty" id="twitter-button" target="_blank"><img src="images/twitter.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://facebook.com/barealty" id="facebook-button" target="_blank"><img src="images/facebook.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://linkedin.com/barealty" id="linkedin-button" target="_blank"><img src="images/linkedin.png"></a></li>
	</ul>
	</nav>
	</div>
	<div id ="wrapper">
		
		<section class="content">
		
		<img id ="homepage"src="images/family-home1.jpg" alt="family-home1">

		<div id ="About">

		<p><strong>B.A Realty</strong> is a Philadelphia neighborhood-focused real estate brokerage that provides comprehensive services in property management, home buying and selling, and real estate development. Our team consists of expert leasing and real estate agents who specialize in zip codes, not dollar signs. This community-centric approach combined with our delivery of the latest real estate and development news is what makes <strong>B.A Realty</strong> the leading one-stop-shop for all of your Philadelphia real estate needs.</p>

		<p>We take a different approach than most companies. We focus on what you want.You have specific needs, goals, dreams, desires. We have the talent, experience, and insight into Philadelphia’s real estate market to meet – and exceed – your needs. It’s all in details….which we focus on 24/7.
		We’re a young company…a hungry company…looking to change the way people in Philadelphia rent an apartment…buy a house…invest in real estate…or manage the day-to-day needs of their rental units.</p>

		</div>

		<footer>
		© 2015 B.A Realty. All rights reserved.</div>
		</footer>
		</section>
	</div>

	</body>
</html>
