<!DOCTYPE html>
<html>
	<head>
		<title>Sell Your Property</title>
		<link rel="stylesheet" type="text/css" href="css/sell.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	<body>
	<div id ='sidebar'>
	<a href="index"><img id = "logo" src ="images/logo.jpg"></a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<nav id = "sidenav">
	<ul>
	<li><a href="index#About">About</a></li>
	<br>
	<br>
	<br>
	<li><a href="find">Find Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="sell">Sell Properties</a></li>
	<br>
	<br>
	<br>
	<li><a href="contact">Contact Us</a></li>
	<br>
	<br>
	<br>
	<li><a href="https://twitter.com/barealty" id="twitter-button" target="_blank"><img src="images/twitter.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://facebook.com/barealty" id="facebook-button" target="_blank"><img src="images/facebook.png"></a></li>
	<br>
	<br>
	<br>
	<li><a href="https://linkedin.com/barealty" id="linkedin-button" target="_blank"><img src="images/linkedin.png"></a></li>
	</ul>
	</nav>
	</div>
	<div id ="wrapper">
		
		<section class="content">
		
		<img id ="homepage"src="images/sell_image.jpeg" alt="family-home1">

		<div id ="About">

		<h1>Selling Your Home with B.A REALTY</h1>
		<p>If you are thinking about selling your home, an experienced and knowledgeable real estate professional at BA REALTY can help you through this sometimes complicated process. You can use this site to find a real estate agent, or to gather general information that would help you in this process. Working hand in hand with a professional will assist you in marketing your home and selling it successfully.</p>

		<p>Selling your home is one the most important decisions you can make. Your home’s worth, time to sell, buyers’ offers and requests, and negotiations are best handled by experienced agents. Remember, selling a home with a professional at B.A REALTY can make a potentially complicated process easy. The experience, knowledge, and leverage of our sales professionals can be invaluable during this process.</p>

		<h2>Home Seller's Guide</h2>

		<h3><a id ='sell' href="https://www.redfin.com/home-selling-guide">Ask for a Free Home Evaluation:</a></h3>
		<p>A well-priced home will generate competing offers and drive up the final sale value. Our free market analysis takes into account the most actively searched prices and home values in the area and provides you with a detailed evaluation that puts it all in perspective.</p>

		<h3><a id ='sell' href="contact">Connect to a Professional:</a></h3>
		<p>Contact us anytime you need to know what's really going on in this market. When you're ready to take the next step toward selling your home, we're here to help. We'll make sure your listing gets the best exposure and reaches the right buyer—whether they're out of state, in another country, or right around the corner.</p>

		</div>

		<footer>
		© 2015 B.A Realty. All rights reserved.</div>
		</footer>
		</section>
	</div>

	</body>
</html>
